<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Facebook Automation Suite" verbose="1" parallel="false">
    <test name="Facebook Tests">
        <classes>
            <class name="tests.LoginTest"/>
            <class name="tests.ForgotPasswordTest"/>
        </classes>
    </test>
</suite>
